 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  align-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 3vh
}

.App-link {
  color: #04cc40;
}

.App-nav {
  margin-left: 32px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.App-tagline {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.App-tagline-primary {
  font-size: 18px;
}

.App-tagline-secondary {
  font-size: 14px;
}

.nav-link {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-active {
  font-weight: bold;
}

.release-list {
  max-width: 640px;
  margin: 0 auto 48px;
  text-align: left;
}

p {
  margin: 0
}

h1 {
  margin: 0
}

@media (max-width: 600px) {
  .App-header {
    flex-direction: column;
  }

  .App-nav {
    margin-left: 0px;
    justify-content: center;
    margin-top: 12px;
  }
}
