.release-card {
  width: 300px; 
  border: 1px solid black; 
  padding: 16px; 
}

.artist {
  text-align: left;
  margin-block-start: 0px;  
  font-size: 18px;
}

.release-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: flex
}