.release-card {
  width: 300px;
  border: 1px solid black;
  padding: 16px;
  margin-top: 32px
}

.release-title {
  margin: 0;
  text-align: left;
}

.release-images {
  margin: 8px 0;
}

.release-section {
  margin-top: 16px;
}

.release-notes {
  margin: 8px 0 0;
  text-align: left;
}

.track-heading {
  margin: 0 0 4px;
  font-weight: bold;
}

.track-list {
  margin: 0 0 16px;
}

.release-samples-heading {
  margin: 16px 0 8px;
  font-weight: bold;
}

.release-subheading {
  margin: 0 0 8px;
  font-weight: bold;
}

.sold-out {
  font-weight: bold;
}

.artist {
  text-align: left;
  margin-block-start: 0px;
  font-size: 20px;
}

.release-meta {
  display: flex;
  align-items: baseline;
}

.release-date {
  margin-left: 12px;
  text-align: left;
  font-size: 16px;
}

.release-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: flex
}

@media (max-width: 480px) {
  .release-meta {
    flex-direction: column;
    align-items: flex-start;
  }

  .release-date {
    margin-left: 0;
  }
}