.release-card {
  width: 300px; 
  border: 1px solid black; 
  padding: 16px;
  margin-top: 30px 
}

.artist {
  text-align: left;
  margin-block-start: 0px;  
  font-size: 24px;
}

.release-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: flex
}